﻿@{
    ViewData["Title"] = "Welcome";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Design</h2>
        <ul>
            <li>Full architecture with responsibility separation concerns, SOLID and Clean Code</li>
            <li>DDD Concepts - Layers and Domain Model Pattern</li>
            <li>CQRS - Command Query Responsibility Segregation</li>
            <li>Event Sourcing</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Technologies</h2>
        <ul>
            <li>.NET Core 2.2</li>
            <li>ASP.NET MVC Core 2.2</li>
            <li>ASP.NET WebAPI Core 2.2</li>
            <li>ASP.NET Identity Core 2.2</li>
            <li>EF Core 2.2</li>
            <li>AutoMapper</li>
            <li>FluentValidator</li>
            <li>MediatR</li>
            <li>Swagger UI</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>RoadMap for 2.0</h2>
        <ul>
            <li>Booking application with Domain Model Pattern, CQRS and ES concepts</li>
            <li>ASP.NET Identity working throught WebAPI services</li>
            <li>New front-end</li>
            <li>Different ways to read and write data.</li>
            <li>Unit Tests</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run</h2>
        <ul>
            <li><a href="http://agentproject.azurewebsites.net" target="_blank">See Online</a></li>
            <li>Run anywhere</li>
            <li>Scale on the cloud</li>
        </ul>
    </div>
</div>
